.products__content {
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  row-gap: 40px;
  padding: 45px 0 60px;
}

.products__inputs {
  max-width: 800px;
  margin: 0 auto;
  padding: 45px 25px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.products__title{
  font-size: 2.8rem;
  text-align: center;
  color: var(--color-primary-bg);
}

.total-amount {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  display: block;
}
.input-category__icon{
  font-size: 3.6rem;
  padding: 0 4px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 12px 10px 0;
  color: var(--color-white);
  background: var(--color-primary-bg);
}


@media (min-width: 1024px) {
  .products__inputs {
    padding: 50px 40px 40px;
  }
  .products__title{
      text-align: start;
      font-size: 3.5rem;
  }
}