.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.nav__links {
    display: flex;
    gap: 30px;
}

.nav__link {
    padding: 6px 16px 0;
    border-radius: 6px;
    color: var(--color-white);
    font-size: 2.2rem;
    text-decoration: none;
    display: none;
}

.nav__logo-box {
    display: flex;
    align-items: center;
    gap: 2px;
}

.nav__logo-image {
    width: 35px;
}

.nav__logo-text {
    display: none;
    font-weight: bold;
    font-size: 2rem;
    font-family: "Playwrite NG Modern", cursive;
    color: var(--color-white);
}

.nav__cart-box {
    position: relative;
    margin-right: 10px;
    text-align: center;
}

.nav__cart-icon {
    color: var(--color-white);
    font-size: 2.5rem;
}

.nav__cart-counter {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 0 6px;
    border-radius: 100%;
    color: var(--color-white);
    background-color: var(--color-icon);
}

.content-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.title-hello {
    color: white;
    font-size: 1.8rem;
}

.box-hello {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav__actions {
    display: flex;
    align-items: center;
    gap: 0px;
}

.logout-icon {
    font-size: 2.5rem;
    color: #fff;
}
.logout-btn {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    background: none;
    border: none;
    cursor: pointer;
}

.logout-btn:hover .logout-icon {
    color: red;
}

.cart-text,
.logout-text {
    display: none;
    font-size: 1.2rem;
    margin-top: 0.3rem;
    color: #fff;
}

.logout-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    cursor: pointer;
    text-align: center;
    color: #fff;
}

@media (min-width: 750px) {
    .nav__logo-image {
        width: 60px;
    }
    .nav__logo-text {
        font-size: 2.8rem;
    }
    .nav__cart-icon {
        font-size: 3.5rem;
    }
    .content-logo {
        flex-direction: row;
    }
    .nav__link {
        display: block;
    }
    .box-hello {
        gap: 50px;
    }
    .title-hello {
        font-size: 2rem;
    }
    .logout-icon {
        font-size: 3rem;
    }
    .cart-text,
    .logout-text {
        font-size: 1.5rem;
    }
    .nav__logo-text {
        display: block;
    }
    .cart-text,
    .logout-text {
        display: block;
    }
    .nav__cart-counter {
        top: -12px;
        right: -4px;
        font-size: 1.5rem;
        line-height: 1.6;
        padding: 0 8px;
    }
    .nav__actions {
        gap: 30px;
    }
}
