.quantity-controls {
    font-size: 2rem;
    border-radius: 10px;
    display: inline-block;
    display: flex;
    align-items: center;
    font-size: 2rem;
    border-radius: 10px;
    justify-content: center;
}

.quantity-controls__button {
    font-size: 2rem;
    padding: 8px;
    margin: 10px;
}
