.quantity-controls{
  background-color: rgba(224, 219, 220, 0.87);
  padding: 2px 12px;
  font-size: 2rem;
  border-radius: 10px; 
}

.quantity-controls__button{
  font-size: 2rem;
  padding: 8px;
  margin: 10px;
}