/* carrito */
.cart-item-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.cart-item-card__image{
  width: 300px;
}
.cart-item-card.cart {
  flex-direction: row;
  justify-content: space-between;
}

.button-delete{
  padding: 10px 15px;
  background-color: #111010;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 8px;
}

/* modal */
.cart-item-card.modal {
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.cart-item-card__button-delete{
  padding: 10px;
  border-radius:8px ;
  border: 1px solid grey;
  /* border: none; */
  cursor: pointer;
}