:root {
    --color-bg: #f5f5f5;
    --color-primary-bg: #1f0d32;
    --color-bg-image: #D7DADD;
    --color-input-border: #1f0d32be;
    --color-hover-border: #3e95e6de;
    --color-border-grey:  #2c2a2a86;
    --color-button-primary: #06539b;
    --color-button-category: #b31765;
    --color-white: #fff;
    --color-black: #000000ee;
    --color-icon: #db4444;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    background-color: var(--color-bg);
    color: var(--color-primary-bg);
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* ---------------------Header----------------------- */

header {
    padding-top: 8px;
    background-color: var(--color-primary-bg);
}

.content-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.box-icon-logo {
    display: flex;
    align-items: center;
    gap: 2px;
}

.image-logo {
    width: 52px;
}

.span-logo {
    font-weight: bold;
    font-size: 2.4rem;
    font-family: "Playwrite NG Modern", cursive;
    color: var(--color-white);
}

.box-icon-cart {
    position: relative;
    margin-right: 10px;
}

.span-cart {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 1.5rem;
    line-height: 1.6;
    padding: 0 8px;
    border-radius: 100%;
    color: var(--color-white);
    background-color: var(--color-icon);
}

/* ---------------------Main----------------------- */

.content-inputs {
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 50px 0 0;
}

.box-input-search {
    width: 50%;
    position: relative;
}

.icon-search {
    height: 100%;
    padding: 6px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    border-radius: 0 12px 10px 0;
    background: var(--color-primary-bg);
}

input,
select {
    width: 100%;
    border-radius: 10px;
    outline: none;
    padding: 14px 6px;
    font-weight: bold;
    color: var(--color-input-border);
    border: 2px solid var(--color-input-border);
    font-size: 1.2rem;
}

select {
    width: 30%;
}

input::placeholder {
    padding-left: 6px;
    color: var(--color-input-border);
}

h2 {
    font-size: 2.8rem;
    text-align: center;
    padding: 30px 0 20px;
    color: var(--color-primary-bg);
}

.content-cards {
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    row-gap: 35px;
    padding: 15px 0 60px;
}

.card {
    flex: 0 1 280px;
    max-width: 100%;
    border-radius: 10px;
    padding: 0 0 15px;
    text-align: center;
    transition: transform 0.3s ease;
    border: 1px solid var(--color-border-grey);
    background-color: var(--color-white);
}

.card:hover {
    border: 1px solid var(--color-hover-border);
}

.card-img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: var(--color-bg-image);
}

h3 {
    font-size: 2rem;
    min-height: 70px;
    padding: 20px 20px 5px;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.8rem;
    padding: 10px 0 10px;
    font-weight: 400;
}

.text-rosa {
    margin-right: 5px;
}

.button-category {
    border: none;
    border-radius: 22px;
    padding: 5px 15px;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-button-category);
}

.span-price {
    font-size: 2.2rem;
    color: var(--color-icon);
    font-weight: 700;
}

.button-add {
    width: 100%;
    max-width: 215px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 5px;
    border: none;
    border-radius: 22px;
    font-size: 1.6rem;
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.3s ease;
    color: var(--color-white);
    background-color: var(--color-button-primary);
}

.button-add:hover {
    transform: scale(0.98);
}

/* ---------------------Footer----------------------- */

footer {
    padding: 35px 0 20px;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-black);
}

.content-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    gap: 15px;
    font-size: 1.5rem;
    padding: 10px;
}

.icon-social {
    width: 40px;
    padding: 8px;
    border-radius: 100%;
    cursor: pointer;
    margin-right: 15px;
    transition: background-color 0.3s ease;
    border: 1px solid var(--color-button-category);
}

.icon-social:hover {
    border: none;
    background-color: var(--color-border-grey);
}

.text-copyrigth {
    padding: 15px 0 0;
    font-size: 1.5rem;
    border-top: 1px solid  var(--color-border-grey);
}

.message-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message-text{
    font-size: 1.8rem;
    text-align: center;
    color: var(--color-black);
}
.message-image{
    width: 200px;
}

@media (min-width: 750px) {
    .image-logo {
        width: 65px;
    }
    .span-logo {
        font-size: 2.8rem;
    }
    .box-icon-cart {
        margin-right: 0px;
    }
    input,
    select{
        font-size: 1.7rem;
    }  
    .message-text{
        font-size: 2.5rem;
    } 
    .message-image{
        width: 250px;
    }
}

@media (min-width: 1024px) {
    h2 {
        text-align: start;
        padding: 45px 30px 25px;
        font-size: 3.5rem;
    }
}
