.input-category {
  width: 100%;
  position: relative;
}

.input-login-input{
  width: 100%;
}
.input-category__input{
  width: 100%;
  border-radius: 10px;
  outline: none;
  padding: 14px 6px;
  font-weight: 300;
  color: var(--color-input-border);
  border: 1px solid var(--color-input-border);
  font-size: 1.3rem;
}

.input-category__input::placeholder {
  padding-left: 6px;
  color: var(--color-input-border);
}

@media(min-width:750px){

  .input-category__input{
    font-size: 1.6rem;
  } 
}