.select-category {
  width: 100%;
  border-radius: 10px;
  outline: none;
  padding: 14px 6px;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--color-input-border);
  border: 1px solid var(--color-input-border);
  font-weight: 300;
}

@media(min-width:750px){
  .select-category{
    width: 40%;
    font-size: 1.6rem;
  }
}