.products__inputs {
  max-width: 850px;
  margin: 0 auto;
  padding: 45px 25px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.products__title{
  font-size: 2.8rem;
  text-align: center;
  color: var(--color-primary-bg);
}

.total-amount {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  display: block;
}

@media (min-width: 1024px) {
  .products__inputs {
    padding: 50px 40px 40px;
  }
  .products__title{
      text-align: start;
      font-size: 3.5rem;
  }
}