.products__inputs {
  max-width: 1050px;
  margin: 0 auto;
  padding: 45px 25px 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.products__title{
  font-size: 2.8rem;
  text-align: center;
  color: var(--color-primary-bg);
}

@media (min-width: 1024px) {
  .products__title{
      text-align: start;
      padding:0 0 0 50px;
      font-size: 3.5rem;
  }
}