:root {
    --color-bg: #fff;
    --color-primary-bg: #1f0d32;
    --color-bg-image: #e0e0e0;
    --color-input-border: #170925e1;
    --color-hover-border: #3e95e6de;
    --color-border-grey:  #2c2a2a86;
    --color-border-card:  rgb(201, 190, 190);
    --color-button-primary: #06539b;
    --color-button-category: #b31765;
    --color-white: #fff;
    --color-black: #000000ee;
    --color-icon: #db4444;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-color: var(--color-primary-bg);
}

.footer{
    text-align: center;
    background-color: var(--color-black);
    color: var(--color-bg);
}