* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    background-color: #f5f5f5;
    color: #2b2727;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* ---------------------Header----------------------- */

header {
    padding-top: 8px;
    background-color: #2b2727;
    background-color: #1f0d32;
    box-shadow: 0 0 10px #0000008c;
}

.content-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.box-icon-logo {
    display: flex;
    align-items: center;
    gap: 2px;
}

.image-logo {
    width: 52px;
}

.span-logo {
    font-weight: bold;
    color: #f5f5f5;
    font-size: 2.4rem;
    font-family: "Playwrite NG Modern", cursive;
}

.box-icon-cart {
    position: relative;
    margin-right: 10px;
}

.span-cart {
    position: absolute;
    line-height: 1.6;
    text-align: center;
    padding: 0 8px;
    height: 22px;
    font-size: 1.5rem;
    top: -10px;
    right: -10px;
    background-color: #e75353;
    border-radius: 100%;
    color: #fff;
}

/* ---------------------Main----------------------- */

.content-inputs {
    max-width: 1050px;
    margin: 0 auto;
    padding: 45px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box-input-search {
    width: 50%;
    position: relative;
}

.icon-search {
    width: 48px;
    position: absolute;
    right: 0;
    top: 0;
    background: rgb(48, 46, 46);
    background: #1f0d32;
    border-radius: 0 12px 10px 0;
    padding: 10px;
}

input,
select {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #1f0d32;
    outline: none;
    padding: 14px 6px;
    font-size: 1.6rem;
}

select {
    width: 30%;
}

h2 {
    text-align: center;
    padding: 20px 0px 0;
    font-size: 2.5rem;
}

.content-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 10px 80px;
    justify-content: center;
    gap: 45px;
}

.card {
    flex: 1 1 260px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 0 0 20px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    gap: 80px;
}

.card-img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    background-color: #f3efef;
    padding: 20px;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5)) drop-shadow(-1px -1px 2px rgba(255, 255, 255, 0.8));
}

h3 {
    font-size: 2rem;
    padding: 25px 0 15px 20px;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px 0px;
    font-size: 1.5rem;
    font-weight: 400;
}

.text-rosa,
.text-price {
    font-weight: 700;
}

.button-category {
    background-color: #b31765;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
    text-decoration: none;
}

.span-price {
    font-size: 2.2rem;
    color: #e40521;
}

.button-add {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    background-color: #045aa8;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 1.8rem;
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.3s ease;
}

.button-add:hover {
    transform: scale(0.98);
}

/* ---------------------Footer----------------------- */

footer {
    background-color: #131212;
    padding: 35px 0 20px;
    color: #fff;
}

.content-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
}
.text-footer {
    font-weight: 300;
    font-size: 1.8rem;
}

.icon-social {
    width: 37px;
    padding: 8px;
    border-radius: 100%;
    cursor: pointer;
    margin-right: 5px;
    border: 1px solid #b3176585;
    transition: background-color 0.3s ease;
}

.icon-social:hover {
    background-color: #2c2a2a86;
    border: none;
}
.text-copyrigth {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(82, 78, 78, 0.356);
}

@media (min-width: 750px) {
    h2 {
        padding: 35px 85px 0;
        font-size: 4rem;
    }
    .image-logo {
        width: 65px;
    }
    .span-logo {
        font-size: 2.8rem;
    }
    .box-icon-cart {
        margin-right: 0px;
    }
}