* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Lato", sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* ---------------------Header----------------------- */

.header {
    background: rgb(241, 233, 235);
}

.content-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 35px;
    padding: 10px 0;
}

.image-logo {
    width: 50px;
}

.span-logo {
    font-family: "Playwrite NG Modern", cursive;
    font-weight: bold;
    color: rgb(57, 57, 108);
    font-size: 2.8rem;
}

.bxs-cart {
    font-size: 4.5rem;
}

h2 {
    text-align: center;
    padding: 35px 0 0;
    font-size: 4rem;
}

/* ---------------------Main----------------------- */

.content-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 10px;
    justify-content: center;
    gap: 20px;
}

.card {
    flex: 1 1 260px;
    max-width: 100%;
    background-color: rgb(204, 247, 232);
    border-radius: 8px;
    padding: 15px;
}

.card-img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    background-color: white;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0;
    font-size: 1.5rem;
}

.card-button {
    display: block;
    width: 100%;
    margin: 0 auto;
    background-color: #615959;
    color: white;
    padding: 10px;
    border: none;
    border-radius:8px ;
}

.content-inputs {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 50px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input-search {
    width: 50%;
    position: relative;
}

input {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #615959;
    padding: 10px 6px;
}

select {
    width: 50%;
    padding: 10px 6px;
    border-radius: 8px;
    border: 1px solid #615959;
}

.icon-search {
    position: absolute;
    right: 0;
    top: 10%;
}

/* ---------------------Footer----------------------- */

footer {
    background-color: lightslategray;
    padding: 30px 0;
}
